<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/css/style.css">
    <title>Update A User</title>
</head>

<body>
    <div class=" topnav">
        <a href="/">Home</a>
        <a href="/create">Delete A User</a>
    </div>
    <div class="form-add-new">
        <form action="/delete-user" method="POST">
            <!-- method POST: create data -->
            <fieldset>
                <legend>Delete user</legend>
                <div class="input d-none">
                    <label for="">Are you sure to delete user with email: </label>
                    <input type="text" name="id" value=" <%= (user.id) %> %> ">
                </div>
                <div class="input">
                    <label for="">Are you sure to delete user with email: </label>
                    <input type="text" name="email" value="<%= (user.email) %> %>">
                </div>
                <div>
                    <button>Confirm delete user</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>